.weathercontainer{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.weathercontainer>span{
  font-weight: bold;
  font-size: large;

}